/test/test.ft.txt
/test/train.ft.txt
/pickle/nb_multinomial_classifier.p
/pickle/nb_bernoulli_classifier.p
/pickle/pytorch_ff_classifier.p
/pickle/lr_extractor.p
/pickle/lr_classifier.p
/pickle/pytorch_ff_extractor.p
/pickle/pytorch_lstm_extractor.p
/pickle/lstm_classifier.p
/pickle/ff_classifier.p
/pickle/ff_extractor.p
/data/glove.42B.300d.txt
/data/review.json
/data/test.tsv
/data/train.tsv
/data/test.ft.txt
/data/train.ft.txt
pickle/

venv/
